<template name="inviteDialog">
  <div class="mask"> </div>
  <div class="modal">
    <div class="modal-header">
      <button type="button" class="close done">&times;</button>
      <h3>Invite people</h3>
    </div>

    <div class="modal-body">
      {{#each uninvited}}
        <div class="invite-row">
          <a href="#" class="btn invite">Invite</a>
          {{displayName}}
        </div>
      {{else}}
        Everyone on the site has already been invited.
      {{/each}}
    </div>

    <div class="modal-footer">
      <a href="#" class="btn btn-primary done">Done</a>
    </div>
  </div>
</template>