#chart1 rect {
  fill: steelblue;
}

#chart1 text {
  fill: white;
  font: 10px san-serif;
  text-anchor: end;
}

#chart2 rect {
  fill: seagreen;
}

#chart2 text {
  fill: lightgrey;
  font: 12px san-serif;
  text-anchor: end;
}
