.header {
    padding: 20px 0;
}

.details {
    margin-top: -18px;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000000;
    opacity: .4;
    z-index: 1;
}

.leaflet-animated-div-icon {
  border-radius: 50%;
  border: none;
  opacity: .2;
  background: black;
}

.leaflet-div-icon {
    border-radius: 50%;
    border: none;
    line-height: 30px;
    font-family: verdana;
    text-align: center;
    color: white;
    opacity: .8;
    vertical-align:middle;
}

.leaflet-div-icon.public {
    background: #49AFCD;
}

.leaflet-div-icon.private {
    background: #DA4F49;
}

.invite-row .invite {
    margin: 10px 10px 10px 0;
}

.rsvp-buttons {
    text-align: center;
    margin: 40px 0 40px 0;
}

.description {
    margin: 20px 0 20px 0;
}

.attendance .who {
    margin-bottom: 5px;
}

.attendance .invite {
    text-align: center;
}

input.chosen {
    font-weight: bold;
}

.map circle.callout {
    stroke-width: 5px;
    stroke-dasharray: 9, 5;
    stroke-opacity: .8;
    fill: none;
    stroke: red;
}

.attribution {
    position: absolute;
    bottom: 0;
    background-color: white;
    padding: 3px;
    padding-bottom: 0;
}
