<!-- {{> charts}}                                                            
=========================================================================== -->
<template name="charts">
  <section class="container charts">
    <div class="row">

      <div class="col-lg-12">
        <div class="page-header text-left d3chart">
          {{#constant}}
          <p>Some D3 charts:</p>
          <div id="chart1"></div>
          <div id="chart2"></div>
          {{/constant}}
        </div>
      </div><!-- .col-lg-12 -->

    </div><!-- .row -->
  </section><!-- .container .info -->
</template>
