<template name="loginButtons">
  <ul class="nav pull-right">
    {{#if currentUser}}
      {{> loggedin}}
    {{else}}
      {{> loggedout}}
    {{/if}}
  </ul>
</template>

<template name="loggedin">
  {{#if loggingIn}}
    <li><a>Logging in...</a></li>
  {{else}}
    <li>
      <img class="img-rounded" style="height: 32px; margin-top: 4px;" src="{{currentUser.profile.avatar_url}}"/>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {{currentUser.profile.name}}
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><a>Account Settings</a></li>
        <li class="divider"></li>
        <li><a id="logout">Logout</a></li>
      </ul>
    </li>
  {{/if}}
</template>

<template name="loggedout">
  <li><a id="login">Log in with Github</a></li>
</template>